

header {
  background-image:url(https://s-media-cache-ak0.pinimg.com/236x/80/27/9a/80279a4073bc38976246cebf97a222b8.jpg);
  border: 3px ridge #000000;
  opacity: .8;
 }
 body {
   background-color: #8FBC8F;
 }
  h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  text-decoration: underline;
}
h2 {
  font-family: 'Pacifico', cursive;
  text-align: left;
  text-decoration: underline;
}

}

 ul {
  list-style-type: georgian;
  display: grid;
  border-top: 3px black;
  border-top-style: dashed;
  border-right: 2px black;
  border-right-style: dashed;
  border-left: 4px solid #008b8b;
  border-left-style: groove;
  border-bottom: 3.5px solid #008b8b;
  border-bottom-style: ridge;
}
.underline {
  text-decoration: underline;
}
.employment {
  border-top: 3.5px solid #008b8b;
  border-top-style: ridge;
  border-right: 4px solid #008b8b;
  border-right-style: groove;
  border-left: 2px black;
  border-left-style: dashed;
  border-bottom: 3px black;
  border-bottom-style: dashed;
}
p.edu {
 border-top: 3px black;
 border-top-style: dashed;
 border-right: 2px black;
 border-right-style: dashed;
 border-left: 4px solid #008b8b;
 border-left-style: groove;
 border-bottom: 3.5px solid #008b8b;
 border-bottom-style: ridge;
}
p.career {
  border-top: 3.5px solid #008b8b;
  border-top-style: ridge;
  border-right: 4px solid #008b8b;
  border-right-style: groove;
  border-left: 2px black;
  border-left-style: dashed;
  border-bottom: 3px black;
  border-bottom-style: dashed;
}
table,td {
	border: #000000 3px solid;
	background-color: #acd1b2;
}
