body {
  background-color: #42d7d7;
}
header {
  background-color: #008b8b;
   border: 1px solid;

}
h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  text-decoration: underline;
}
h2 {
  font-family: 'Pacifico',cursive;
  text-decoration: underline;
}
ul {
  list-style-type: georgian;
  display: grid;
  border-top: 3px black;
  border-top-style: dashed;
  border-right: 2px black;
  border-right-style: dashed;
  border-left: 4px solid #008b8b;
  border-left-style: groove;
  border-bottom: 3.5px solid #008b8b;
  border-bottom-style: ridge;
}
p.employment {
  border-top: 3.5px solid #008b8b;
  border-top-style: ridge;
  border-right: 4px solid #008b8b;
  border-right-style: groove;
  border-left: 2px black;
  border-left-style: dashed;
  border-bottom: 3px black;
  border-bottom-style: dashed;

}
p.edu {
 border-top: 3px black;
 border-top-style: dashed;
 border-right: 2px black;
 border-right-style: dashed;
 border-left: 4px solid #008b8b;
 border-left-style: groove;
 border-bottom: 3.5px solid #008b8b;
 border-bottom-style: ridge;
}
p.career {
  border-top: 3.5px solid #008b8b;
  border-top-style: ridge;
  border-right: 4px solid #008b8b;
  border-right-style: groove;
  border-left: 2px black;
  border-left-style: dashed;
  border-bottom: 3px black;
  border-bottom-style: dashed;
}
